[submodule "src/sms/GUI_tools"]
	path = src/sms/GUI_tools
	url = https://github.com/Brandon-Valley/GUI_tools.git
[submodule "src/sms/msg_box_utils"]
	path = src/sms/msg_box_utils
	url = https://github.com/Brandon-Valley/msg_box_utils.git
[submodule "app/app_tools"]
	path = app/app_tools
	url = https://github.com/Brandon-Valley/app_tools.git
